/**
 * @file front-end.css
 * @description Estilos aplicables a elementos comunes de la aplicación Front-end
 * @author Alba Gómez Liébana <agl00108@red.ujaen.es>
 * @date 03-Feb-2023
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('./ms-plantilla.css');

* {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  #seccion-principal {
    width: 100%;
    display: inline-block;
    margin-right: 10px;
  }

  .alto-contraste :not(button) {
    background-color: #00000000;
    color: #ffffff;
  }
  
  .alto-contraste button {
    background-color: #ffffff;
    color: #000000;
  }
  
  
  .mostrar {
    display: inline-block;
  }
  
  .opcion-principal {
    border: 2px solid rgba(79, 129, 189, 0.5);
    border-radius: .5em 0 .5em 0;
    padding: .5em;
    text-decoration: none;
    background-color: rgba(79, 129, 189, 0.1);
    color: #1e304d;
    display: inline-block;
    margin-right: 10px;
  }
  
  .opcion-principal:hover {
    background-color: rgba(79, 129, 189, 0.2);
  }
  
  h1 {
    color: #1e304d;
    background-color: #f7d1d1;
    text-align: center;
    padding: 20px;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    color: #ff6b6b;
    font-style: italic;
  }
  
  body {
    background-image: url('../images/fondo.jpeg');
    background-position: center;
    color:#1e304d;
  }

  body.alto-contraste {
    background-image: url('../images/image.png');
    background-position: center;
    color:#000000;
  }

  
  .opcion-principal.alto-contraste {
    border: 2px solid rgb(255, 255, 255);
    border-radius: .5em 0 .5em 0;
    padding: .5em;
    text-decoration: none;
    background-color: rgba(79, 129, 189, 0.1);
    color: #ff6b6b;
    display: inline-block;
    margin-right: 10px;
  }
  
  .opcion-principal:hover.alto-contraste {
    background-color: rgb(255, 255, 255);
  }
  
  h1.alto-contraste {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 20px;
  }
  
  h1 span.alto-contraste {
    display: block;
    font-size: 0.5em;
    color:  #ff6b6b;
    font-style: italic;
  }
  